$color-background: aquamarine;
$color-border: blue;
$color-titulo: black;
$color-border2: white;


body{
	background-color: $color-background;
	color: $color-border2;
}
.imagen{
    margin: 10px;
    padding: 4px;
    width: 400px;
    height: 400px;
    border-radius: 10px;
    box-shadow: 10px 10px 5px black;
}


.contenedor{
	background-image:linear-gradient(to left, $color-titulo, $color-border);
	width: 100%;
	padding: 5px;
	display: inline-flex;
	flex-direction: row;
    justify-content: space-around;
    ul{
        list-style: none;
        li{
            display: inline-block;
        }
    }
}
#tabla{
    width: 100%;
    margin-bottom: 10px;
}
th{
    height: 40px;
    background: royalblue;
    color: $color-border2;
}
.texto{
    color: $color-background;
    :hover{
        background-color: $color-border;
        border: solid 2px $color-border2;
        border-radius: 5px;
    }
}
.cuerpo{
    background-color: $color-background;
}
h1{
    font-size: 22px;
    font-family: 'Goldman', cursive;
    color: $color-titulo;
    margin: 30px;
}
p{
    margin: 15px;
    font-size: 20px;
    font-family: 'Goldman', cursive;
}
h3{
    font-size: 22px;
    font-family: 'Goldman', cursive;
    color: $color-titulo;
}
.logo:hover{
	transform: rotate(45deg);
}
form{
    margin: 30px;
}
.videos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    .cuadros{
        padding: 10px;
        margin: 20px;
        
    }
}
